/* ----------Font sizing */

:root {
    --ff-body: "Exo", sans-serif;
    --ff-heading: "Abril Fatface", sans-serif;
    --fs-xl: 2.5rem;
    --fs-l: 2rem;
    --fs-m: 1.5rem;
    --fs-600: 1.25rem;
    --fs-400: 1rem;
}

@media (max-width: 1360px) {
    :root {
        --fs-xl: 2rem;
        --fs-l: 1.6rem;
        --fs-m: 1.2rem;
        --fs-600: 1rem;
        --fs-400: 0.85rem;
    }
}

@media (max-width: 530px) {
    :root {
        --fs-l: 1rem;
        --fs-m: 1rem;
        --fs-600: .8rem;
        --fs-400: 0.75rem
    }
}

html,
body {
    overflow-x: hidden;
}

body,
h1,
h2,
h3,
p,
li {
    margin: 0;
    padding: 0;
    line-height: 2;
    color: #fff;
}

body {
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    line-height: 0;
}

h1 {
    font-family: var(--ff-body);
    font-size: var(--fs-xl);
    max-height: 105px;
}

h2 {
    font-size: var(--fs-l);
}

h4 {
    font-size: var(--fs-m);
}

p {
    font-size: var(--fs-400);
}

ul {
    padding: 0;
}

.pages {
    background: url("../images/thanasis-pages-bg.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.page-title {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-title h1,
.page-space h1 {
    font-size: var(--fs-xl);
}

.page-space {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------Video background */

.vid-bg {
    min-width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* ----------Nav bar */

/* Nav bar change color on scroll code reference: https://jsfiddle.net/RichardD/up15a9vb/ */
#main-nav {
    background: transparent;
    transition: background 0.3s;
    padding: 17px 5px 0 15px;
}

.scrolled #main-nav {
    background: black;
}

#navbar-container {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    display: flex;
    position: fixed;
}

.navbar-toggler {
    border: none;
}

.nav-link {
    padding: 8px 5px 5px 5px;
}

.navbar-nav li a {
    font-family: poppins;
}

.nav-container {
    position: relative;
    top: 0;
    left: 0;
    z-index: 30;
    padding-left: 0;
    padding-right: 0;
}

.nav-container img {
    width: 60px;
    height: auto;
}

nav li {
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
}

.nav-item {
    background-color: rgba(0, 0, 0, 0);
}

.nav-item-dr:hover {
    background-color: rgb(128, 128, 128, 0.5);
}

.contact-link {
    background-color: rgb(255, 69, 0, 0.8);
    text-transform: uppercase;
}

.contact-link:hover {
    background-color: rgb(255, 69, 0, 1);
}

.alert {
    font-size: 12px;
    text-align: right;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    margin: 10px 0;
    padding: 5px 5px;
    display: none;
}

.alert-div {
    margin: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 0 5px;
}

.alert a {
    color: #fff;
    background-color: rgb(134, 39, 4);
    padding: 2px 4px;
    border-radius: 3px;
}

.alert a:hover {
    background-color: orangered;
}

/* ----------Main Content */

#main-container {
    position: relative;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#main-container video {
    height: 80vh;
    width: 100%;
    z-index: 10000;
    object-fit: cover;
}

#main-container .content {
    height: 100%;
    width: 100%;
    z-index: 20;
}

.content {
    object-fit: cover;
    text-align: center;
    margin: 0;
    padding: 0;
}

.yt-cont-index {
    position: relative;
    overflow: hidden;
    width: auto;
    padding-top: 56.25%;
    background-color: black;
}

.yt-cont {
    position: relative;
    overflow: hidden;
    width: auto;
    padding-top: 56.25%;
}

.youtube-video {
    position: absolute;
    top: 12.5%;
    left: 13%;
    bottom: 12.5%;
    right: 13%;
    height: 75%;
    width: 74%;
    border: none;
}


.about {
    padding: 10px 30px !important;
    background-color: rgba(0, 0, 0, 0);
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.about p {
    padding: 10px 15px;
}

/* ----------Jumbotron */

.jumbotron {
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    line-height: 2;
    text-align: center;
    width: 100%;
    margin: 0;
}

.jumbotron h1 {
    font-size: var(--fs-xl);
}

.jumbotron p {
    font-size: var(--fs-600);
}

.jumbo-small {
    padding-top: 5px;
}



/* ----------Footer */

.footer {
    color: white;
    bottom: 0;
    width: 100%;
    background-color: #000;
}

#footer-container {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0 30px 0;
    overflow: hidden;
    width: 100%;
    line-height: 1.5;
}

.footer-text {
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

.footer-text h4 {
    font-size: 16px;
}

.quick-links a {
    color: white;
    line-height: 2;
    padding-left: 5px;
}

.quick-links a:hover {
    text-decoration: underline;
}

.quick-links i {
    font-size: 16px;
}

.copyright-info {
    font-size: 12px;
}

.footer-logo {
    padding-top: 30px;
}

.footer-logo img {
    max-height: 60px;
    width: auto;
}

.footer-hr {
    border: 1px solid orangered;
    width: 90px;
    border-radius: 2px;
    margin-bottom: 13px;
    margin-top: 13px;
    width: 74%;
}

.footer-wrap {
    width: 100%;
}

.footer .row {
    margin-left: 0;
}

/* ----------Social media icons from: https://codepen.io/vpdemo/pen/dPdymj */

a,
a:hover {
    text-decoration: none;
}

.socialbtns {
    text-align: center;
}

.socialbtns p {
    font-size: 12px;
}

.socialbtns,
.socialbtns ul,
.socialbtns li {
    margin: 0;
    padding: 5px;
    display: inline-block;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 28px;
    background-color: #000;
    border: 3px solid orangered;
    padding-top: 14px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
}

.socialbtns .fa-whatsapp {

    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 32px;
    background-color: rgb(14, 198, 23);
    border: 3px solid rgb(246, 242, 241);
    padding-top: 10px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
}

.socialbtns .fa:hover {
    color: #000;
    background-color: #fff;
    border: 3px solid orangered;
}

.socialbtns .youtube .fa:hover {
    color: red;
}

.socialbtns h4 {
    font-size: 16px;
    text-transform: uppercase;
}

/* ----------- index.html */

.testimonials {
    background-color: rgba(0, 0, 0, 1);
    padding: 60px;
    position: relative;
}

.test-card {
    background-color: rgba(134, 39, 4, 0.8);
    max-width: 350px;
    margin: 10px 20px;
}

.test-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.test-name h4 {

    border-radius: 50%;
    overflow: hidden;
}

.test-name h4 {
    padding: 3px 6px;
}

.content-body {
    position: relative;
    text-align: center;
    padding: 60px 10px 30px 10px;
}

.content-body .fa {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    color: #fff;
    font-size: 40px;
    background-color: #000;
    border: 3px solid #fff;
    padding-top: 19px;
    padding-left: 1px;
    border-radius: 45px;
    -moz-border-radius: 45px;
    -webkit-border-radius: 45px;
    -o-border-radius: 45px;
}

/* -----------about.html */

.about-head {
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
}

.about-head img {
    max-height: 60px;
    border: 2px solid orangered;
    border-radius: 30px;
}

.about .about-image {
    text-align: center;
}

.what-we-do {
    padding-top: 20px;
    padding-bottom: 50px;
}

.what-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.what-card {
    position: relative;
    background-color: rgba(0, 0, 0, .5);
    height: 320px;
    margin: 20px 20px;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(134, 39, 4, 0.9);
}

.what-card:hover .overlay {
    opacity: 1;
}

.what-card img {
    width: 320px;
    height: 320px;
    overflow: hidden;
}

.what-card .content-body {
    padding: 0;
}

.test-name h5 {
    padding-top: 8px
}

.test-name {
    text-align: center;
}

/* -----------training.html */

.training-head {
    background-color: rgba(0, 0, 0, .5);
    padding: 30px;
    width: 70vw;
    border-radius: 5px;
}

.training-head-list {
    background-color: rgba(0, 0, 0, .5);
    min-height: 800px;
    padding: 30px;
}

.training-head img {
    max-height: 60px;
    border: 2px solid orangered;
    border-radius: 30px;
}

.training-head ul {
    padding-left: 25px;
}

.online-academy {
    background-color: rgba(0, 0, 0, .5);
    width: 70vw;
    margin: 0 auto;
}

.training-modules {
    background-color: rgba(0, 0, 0, 0);
    padding: 60px;
    position: relative;
}

.training-modules ul {
    padding-top: 10px;
}

/* -----------breeding.html */

.breeding-gallery {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0);
}

.breeding-gallery .social-contact {
    background-color: rgba(0, 0, 0, 0);
}

.rounded:hover {
    transform: scale(1.05);
}

/* ---------- contact.html */

#contact-container {
    position: relative;
    overflow: hidden;
    padding: 0;
}

#contact-container video {
    height: 90vh;
    width: 100%;
    z-index: 10;
    object-fit: cover;
}

.contact {
    background-color: rgba(0, 0, 0, 0);
}

.social-contact {
    background-color: #000;
    display: block;
    justify-content: center;
    align-items: center;
}

.contact-title {
    margin-top: 25px;
    margin-bottom: 20px;
}

.contact-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

input {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fff;
    background-color: orangered;
    border: none;
}

.contact-btn:hover {
    background-color: rgb(134, 39, 4);
}

/* ----------Media Queires */

/* Nav bar */

@media (max-width:768px) {
    nav li {
        font-size: 16px;
        background-color: rgba(0, 0, 0, 1);
        border-radius: 8px;
        padding-left: 5px;
        margin: 1px;
        text-align: center;
    }

    .navbar {
        display: flex;
    }
}

@media (min-width: 767px) {
    #main-nav {
        padding: 0 5px 0 15px;
    }
}

/* Contact us alert on small screens */
@media (max-width: 767px) {
    .alert {
        display: block;
    }

    .nav-item-dr {
        background-color: rgba(0, 0, 0, 1);
    }

    .navbarNavDropdown {
        background-color: #000;
    }
}

/* Social Icons */

@media (max-width: 780px) {
    .socialbtns .fa {
        width: 40px;
        height: 40px;
        font-size: 18px;
        border: 2px solid orangered;
        padding-top: 9px;
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .social-hr {
        border: 1px solid orangered;
        width: 50px;
        border-radius: 2px;
    }

    .socialbtns p {
        font-size: 10px;
    }
}

/* Youtube Video */

@media (max-width: 768px) {
    .youtube-video {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
}

/* Headings  */

@media (min-width: 810px) {

    .page-title h1,
    .jumbotron h1 {
        font-size: 4rem;
    }

    .page-space h1 {
        font-size: 3rem;
    }

    .jumbotron h4 {
        font-size: 1.7rem;
    }
}

@media (max-width: 430px) {

    .page-title h1,
    .page-space h1,
    .jumbotron h1 {
        font-size: 1.5rem;
    }

    .jumbotron h4 {
        font-size: 1rem;
    }
}

/* Text containers */

@media (min-width: 1201px) {
    .training-head {
        padding-left: 30px;
    }
}

@media (max-width: 1200px) {

    .breeding,
    .about {
        flex-direction: column;
        text-align: left;
        padding: 20px 10px;
    }

    .about p {
        padding: 5px 10px;
    }

    .breeding-text {
        padding-bottom: 10px;
        padding: 0 30px 10px 30px;
    }
}

@media (max-width: 500px) {

    .box-highlight {
        width: 100%;
        border: none;
    }

    .training-head {
        padding: 5px;
    }

    .training-head img {
        display: none;
    }

    .training-head h2 {
        text-align: center;
    }

    .page-title {
        height: 50vh;
    }

}

@media (max-width: 1200px) {
    .about {
        padding: 5px 10px;
    }

    .about h2 {
        padding-top: 5px;
    }

    .box-highlight,
    .about-image img {
        max-width: 350px;
        border: none;
    }

    .training-head h2 {
        padding: 15px 10px;
    }
}

/* Index.html */

@media (min-width: 760px) {

    .testimonials,
    .training-modules {
        padding: 10px;
    }
}

@media (max-width: 1520px) {

    .test-md-off {
        display: none;
    }
}

/* about.html */

@media (max-width: 530px) {

    .what-card img {
        width: 240px;
        height: 240px;
        overflow: hidden;
    }

    .what-card {
        width: 240px;
        height: 240px;
    }
}


/* Breeding.html */

@media (min-width: 768px) {
    .about .training-head .breeding-ul {
        padding: 20px;
        margin-left: 20px;
    }
}

@media (max-width:768px) {
    .breeding-gallery .gallery-social {
        display: none;
    }
}

@media (max-width:1200px) {
    #breeding-litter {
        display: none;
    }
}

/* Contact page */

@media (max-width: 480px) {
    .contact-title {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .breeding-head {
        padding-top: 30px;
    }
}

/* Footer */
@media (max-width: 890px) {
    .footer .socialbtns .fa {
        width: 40px;
        height: 40px;
        font-size: 18px;
        border: 2px solid orangered;
        padding-top: 9px;
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .footer .social-hr {
        border: 1px solid orangered;
        width: 50px;
        border-radius: 2px;
    }

    .footer .socialbtns p {
        font-size: 12px;
    }
}