body {
    font-family: 'Poppins', sans-serif;
    line-height: 0;

}

p {
    padding-left: 12px;
    padding-right: 12px;
}

/* Nav bar */

#navbar-container {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    background-color: rgba(0, 0, 0, .7);
    display: flex;
}

.navbar-toggler {
    border: none;
}

.nav-container {
    position: relative;
    top: 0;
    left: 0;
    z-index: 30;
    padding-left: 0;
    padding-right: 0;

}

.nav-container img {
    width: 250px;
    height: auto;

}



/* Main Content */

#main-container {
    position: relative;
    overflow: hidden;
}

#main-container video {
    height: 100vh;
    width: 100%;

    z-index: 10;
    object-fit: cover;

}

#main-container .content {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    z-index: 20;

}

.content {
    object-fit: cover;
    text-align: center;
    margin: 0;
    padding: 0;
    /* position: absolute;
    bottom: 0; */

}

/* Card  */

.cont-text {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card-img-bg {
    background-color: transparent;
    border: 0px;
    background-color: rgba(0, 0, 0, .7);
    max-height: 140px;

}

.card-body-bg {}



.card {
    line-height: 1.5;
}

.card-img {
    max-height: 140px;
    width: auto;
}


/* Video background */

.video-container {
    overflow: hidden;
}

#vid-bg {

    min-width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);


}

/* Footer */

#footer-container {

    text-align: center;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, .7);
    overflow: hidden;
    width: 100%;
    line-height: 1.5;

}

.footer-text {
    font-size: 12px;

}

.footer-text h4 {
    font-size: 16px;
}



.footer-text .btn {
    padding: 0.2rem 0.4rem;

}

.footer-btn {
    background-color: #000;
    border: 2px solid rgb(255, 254, 254);
    font-size: 12px;
    margin: 5px;

}

.footer-btn:hover {
    color: #000;
    background-color: #fff;
    border: 2px solid rgb(31, 29, 29);
}

.copyright-info {
    font-size: 12px;
}

/*  Social media icons from: https://codepen.io/vpdemo/pen/dPdymj */



a,
a:hover {
    text-decoration: none;
}

.socialbtns {
    text-align: center;
}

.socialbtns,
.socialbtns ul,
.socialbtns li {
    margin: 0;
    padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 24px;
    background-color: #000;
    border: 2px solid rgb(255, 254, 254);
    padding-top: 16px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;
}

.socialbtns .fa:hover {
    color: #000;
    background-color: #fff;
    border: 2px solid rgb(31, 29, 29);
}


/* About page */

.about-info {
    text-align: left;
    padding-top: 10px;
    background-color: transparent;
    color: white;
    width: 100%;
    z-index: 20;
    top: 0;
    left: 0;

}

.about-info h4 {
    padding: 12px;
}




/* Training page */

.training-info {}

/* Contact page */

.contact-info {}



/* Media Queires */


/* Nav logo resizing */
/* Turns off first quote when display is < 300px */

@media (max-width: 300px) {
    #quote-id {
        display: none;
    }
}


/* Quote text resizing */

@media (max-width: 380px) {
    .quotes {
        font-size: 10px;
    }
}

@media (max-width: 380px) {
    .quotes h4 {
        font-size: 14px;
    }
}

@media (min-width: 1400px) {
    .quotes {
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    .quotes h4 {
        font-size: 20px;
    }
}

@media (max-width: 380px) {
    .footer-text {
        font-size: 10px;
    }
}

@media (max-width: 380px) {
    .footer-text h4 {
        font-size: 14px;
    }
}

@media (min-width: 1400px) {
    .footer-text {
        font-size: 16px;
    }
}

@media (min-width: 1400px) {
    .footer-text h4 {
        font-size: 20px;
    }
}

/* Turn off card under 600px resolution */
@media (max-width: 600px) {
    .card {
        display: none;
    }
}