/* Font sizing */

:root {
    --ff-body: "Poppins", sans-serif;
    --ff-heading: "Exo", sans-serif;

    --fs-xl: 2.5rem;
    --fs-600: 1.5rem;
    --fs-400: 1rem;
}

@media (max-width: 1140px) {
    :root {
        --fs-xl: 2.5rem;
        --fs-600: 1.25rem;
        --fs-400: 0.75rem;
    }
}

@media (max-width: 860px) {
    :root {
        --fs-xl: 2rem;
        --fs-600: 1rem;
        --fs-400: 0.75rem;

    }
}



body,
h1,
h2,
h3,
p,
blockquote {
    margin: 0;
    padding: 0;
    line-height: 2;
    color: #fff;
}



body {
    font-family: var(--ff-body);
    font-size: var(--fs-400);
    line-height: 0;

}

h1 {
    font-family: var(--ff-body);
    font-size: var(--fs-xl);
}

h4 {
    font-size: var(--fs-600);
}

p {
    font-size: var(--fs-400);
}

/* Nav bar */

#navbar-container {
    padding-left: 0;
    padding-right: 0;
}

.navbar {
    background-color: rgba(0, 0, 0, .7);
    display: flex;
}

.navbar-toggler {
    border: none;
}

.nav-container {
    position: relative;
    top: 0;
    left: 0;
    z-index: 30;
    padding-left: 0;
    padding-right: 0;

}

.nav-container img {
    width: 250px;
    height: auto;

}

nav li {
    font-size: 16px;
}


.nav-link:hover {}






/* Main Content */

#main-container {
    position: relative;
    overflow: hidden;

}

#main-container video {
    height: 100vh;
    width: 100%;

    z-index: 10;
    object-fit: cover;

}

#main-container .content {
    height: 100%;
    width: 100%;
    z-index: 20;

}

.content {
    object-fit: cover;
    text-align: center;
    margin: 0;
    padding: 0;


}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
    position: absolute;
    top: 20%;
    left: 0;
    color: #fff;
    line-height: 2;
    text-align: center;
    width: 100%;
    margin: 0;
}


.jumbotron h1 {
    font-size: var(--fs-xl);
    text-transform: uppercase;
}

.jumbotron p {
    font-size: var(--fs-600);
}

.jumbo-small {
    padding-top: 5px;
}

.jumbotron img {
    max-height: 175px;
    width: auto;
}

.jumbo-logo {}

/* Card  */


.cont-text {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.card {
    line-height: 1.5;
    background-color: transparent;
    border: 0;
    max-height: 200px;
    position: absolute;


}

.card-image {
    background-color: rgba(0, 0, 0, 0.2);


}

.card-body {

    border: 0px;
    background-color: rgba(0, 0, 0, .7);

}

.card-body .btn-warning {
    color: #fff;
    background-color: orangered;
    border: 0;
}




.card-img {
    max-height: 193px;
    width: auto;
    margin-top: 7px;

}


/* Video background */

.video-container {
    overflow: hidden;
}


#vid-bg {

    min-width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);


}

/* Footer */

#footer-container {

    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    /* background-color: rgba(0, 0, 0, .7); */
    overflow: hidden;
    width: 100%;
    line-height: 1.5;


}


.footer-text {
    margin: 0;
    padding: 5px;
    text-align: center;
    font-size: 12px;

}

.footer-text h4 {
    font-size: 16px;

}

.quick-links a {
    color: white;
    line-height: 2;
    padding-left: 5px;

}

.quick-links a:hover {
    text-decoration: underline;
}

.quick-links i {
    font-size: 16px;
}

.copyright-info {
    font-size: 12px;
}

.footer-logo {
    padding-top: 30px;
}

.footer-logo img {

    max-height: 60px;
    width: auto;
}

/*  Social media icons from: https://codepen.io/vpdemo/pen/dPdymj */



a,
a:hover {
    text-decoration: none;
}

.socialbtns {
    text-align: center;
    display: inline;


}

.socialbtns p {
    font-size: 12px;
}

.socialbtns,
.socialbtns ul,
.socialbtns li {
    margin: 0;
    padding: 5px;
    display: inline-block;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns ul {}

.socialbtns .fa {

    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 28px;
    background-color: #000;
    border: 3px solid orangered;
    padding-top: 14px;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -o-border-radius: 30px;

}

.socialbtns .fa:hover {
    color: #000;
    background-color: #fff;
    border: 3px solid orangered;
}

.socialbtns h4 {
    font-size: 16px;
    text-transform: uppercase;
}

.social-hr {
    border: 1px solid orangered;
    width: 90px;
    border-radius: 2px;
    margin-bottom: 0;
    margin-top: 8px;
}


/* About page */

.about-container {
    height: 100vh;
    background: url("/assets/images/about-bg-image.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.about-info {
    padding-top: 20px;
}






/* Training page */

.training-info {}

/* Contact page */

.contact-info {}



/* Media Queires */

/* Turns off first quote when display is < 300px */

@media (max-width: 300px) {
    #quote-id {
        display: none;
    }
}

/* Turn off card under 600px resolution */
@media (max-width: 600px) {
    .card {
        display: none;
    }
}

/* Social Icons */

@media (max-width: 480px) {

    .socialbtns .fa {

        width: 40px;
        height: 40px;
        font-size: 18px;
        border: 2px solid orangered;
        padding-top: 10px;
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        -o-border-radius: 20px;


    }

    .social-hr {
        border: 1px solid orangered;
        width: 50px;
        border-radius: 2px;
    }

}